In [8]:
"""
튜플은 (,,) : 리스트[]와 비슷
리스트는 생성, 삭제, 수정 가능
튜플은 변경을 할 수 없음
"""

a = (3,2,5,6,1) # 튜플
a
a = 3,2,5,6,1 # 튜플
a

a1 = ()
a1

a2 = 5 # a2는 정수값을 가지고 있는 변수
a2 = 5, # ,를 찍으면 type이 tuple로 인식됨
type(a2)
# 값을 1개 저장한 튜플을 정의할 때는 컴마를 써야함

a3 = ('john', 25, 180.5, True)
a3
# 자료형에 관계없이 저장 가능
# a3[1]=50 에러
# 튜플은 변경이 안되므로, 데이터가 계속 유지되어야 할 경우에 주로 사용

('john', 25, 180.5, True)

In [10]:
a = tuple(range(10))
a

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9)

In [14]:
# 튜플 <-> 리스트
a = [1,2,3]
a
a = tuple(a)
a
a = list(a)
a

[1, 2, 3]

In [15]:
list('hello')

['h', 'e', 'l', 'l', 'o']

In [17]:
x,y = [1,2]
x
y
x,y = (1,2,3)
x
y

# unpacking : 리스트(튜플)의 요소를 여러개의 변수에 할당하는 것
# packing : 변수에 리스트 또는 튜플을 할당하는 것

a = [1,2,3] # 리스트 패킹
b = (1,2,3) # 튜플 패킹

ValueError: too many values to unpack (expected 2)

In [24]:
t1 = (1,2,'x','y')
t1
# del t1[0]
# t1[0]=5

# 슬라이싱
t1[1:]
t2 = (3,4)
t1+t2
t2*3
len(t1)

4

In [29]:
# 시퀀스형 : 리스트, 튜플, range, 문자열 데이터는 연속적으로 표현

# 시퀀스형의 자료에 특정 값이 존재하는지 확인

# 0~90까지 10씩 증가한 값으로 리스트 생성
a = list(range(0,91,10))
a

# 시퀀스형에 대해 in 연산자 사용 가능
30 in a # a 변수(시퀀스형) 안에 30이 있느냐?
100 in a
11 not in a

True

In [32]:
'h' in 'hello, python'
'h' not in 'hello, python'
7 in range(100)
100 in range(100)

False

In [44]:
# + 연산자로 시퀀스형에 대한 자료 연결이 가능
# range는 안됨
# 다른 형태의 자료형끼리 연결 NO (ex 튜플 + 리스트 / 문자 + 숫자)

a = [1,2]
b = [3,4]
a+b
'hello'+'hi'
a = (1,2)
b = (3,4)
a+b

# range(0,3) + range(3,5) Error발생
list(range(0,3)) + list(range(3,5))
tuple(range(0,3)) + tuple(range(3,5))

# 다른 자료형 연결 NO
# list(range(0,3)) + tuple(range(3,5))
# 'hi' + 7  숫자를 문자로 변경하면 가능 => 같은 type으로 맞춰주기
'hi' + str(7)
'hi' + str(3.14)

# range(0,3)*3 에러발생
list(range(0,3))*3

[0, 1, 2, 0, 1, 2, 0, 1, 2]

In [51]:
# len() : 시퀀스 자료형에 해당되는 데이터의 길이 구할 수 있음

a = [1,2,3]
len(a)

a = (1,2,3)
len(a)

len(range(0,3))
len('hello')

hi = '안녕'
len(hi) # 문자의 개수를 구하는 함수 (bite는 신경쓰지 않음)

hi = '안녕'
hi.encode('utf-8')
len(hi.encode('utf-8'))

6

In [55]:
# 시퀀스형에 대한 자료 참조는 대괄호 []기호를 사용한다.
x = 'HI HELLO'
# x[0] -> x.__getitem__(0)
x[0]
x[10] -> IndexError

IndexError: string index out of range

In [59]:
x[len(x)-1]
x[-1]

'O'

In [73]:
# x[2:-1]
x
x[2:-1]
x[2:]
x[1:7:2] # index1 부터 2씩 증가하면서 index 6번까지 가져옴
x[:8:2] # 처음부터 7번까지 2씩 증가하면서 가져옴
x[3::2] # 3번부터 끝까지 2씩 증가하면서 가져옴
x[::2] # 처음 부터 끝까지 2씩 증가하면서 가져옴
x[::] # = x

x[5:1:-1] # 5~2번까지 하나씩 감소하면서 가져옴 5,4,3,2
x[::-1] # 역순으로 출력

x[0:len(x)]
x[:len(x)]

# 튜플도 리스트와 동일
x=range(10)
x[4:7]
list(range(0,7,2))

x = "hello world"
x[:9:3]

[0, 2, 4, 6]

In [87]:
a = list(range(0,91,10))
a

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90]

In [88]:
a[1]=11
a

[0, 11, 20, 30, 40, 50, 60, 70, 80, 90]

In [89]:
a[2:5] = [21,31,'x']

In [90]:
a[1:9:2] = ['a','b','c','d']
a

[0, 'a', 21, 'b', 'x', 'c', 60, 'd', 80, 90]

In [91]:
del a[2:6] # 2번 부터 5번까지 제거
a

[0, 'a', 60, 'd', 80, 90]

In [92]:
del a[:5:2] # 0번부터 4번까지 2씩 증가하면서 제거
a

['a', 'd', 90]

In [ ]:
# Dictionary : Key와 Value로 자료를 표현
"""
person = [180, 70, 'O', '서울'] << list의 경우
person2 = {'키':180, '몸무게':70, '혈액형':'0', '사는 곳':'서울'} << dict의 경우
list와 달리 dict에서는 그 값이 어떤 것을 의미하는지(Key) 같이 표현됨
{}로 묶음 / key : value / ,로 구분
"""

In [109]:
person = [180, 70, 'O', '서울']
person2 = {'키':180, '몸무게':70, '혈액형':'0', '사는 곳':'서울', '몸무게':80,
           False :0, 99:'구구', 3.14:[3.14,'원주율']}
# Dict를 다른 언어에서는 맵, 해쉬라고 부름

In [110]:
person2
# key가 중복되면 마지막 자료가 저장됨
# Value자리에 list 올 수 있음 (key는 NO)
# Key 자리에 문자, 정수, 실수, bullen이 모두 올 수 있음

{'키': 180,
 '몸무게': 80,
 '혈액형': '0',
 '사는 곳': '서울',
 False: 0,
 99: '구구',
 3.14: [3.14, '원주율']}

In [114]:
person2 = {'신장':180, '몸무게':70, '혈액형':'0', '사는 곳':'서울'
          , '취미':{'오전':'수영', '오후':'공부'}}
person2

{'신장': 180,
 '몸무게': 70,
 '혈액형': '0',
 '사는 곳': '서울',
 '취미': {'오전': '수영', '오후': '공부'}}

In [116]:
"""
key, value가 여러 쌍으로 구성
key는 변하지 않는 것을 사용,
value는 변하는 값 / 변하지 않는 값 모두 사용 가능
"""

AttributeError: 'dict' object has no attribute 'value'

In [117]:
# 빈 딕셔너리 생성

x = {}
x = dict()

In [126]:
# dict(키1:값1, 키2:값2,....)
per = dict(height = 180, weight = 70, bt = 'O')
per

# dict(zip())
per = dict(zip(['height', 'weight', 'bt'], [180,70,'O']))
per

# dict([(키1,값1),(키2,값2),...]) tuple
per = dict([('height',180), ('weight',70), ('bt','O')])
per

# dict({키1:값1, 키2:값2,...}) dict key ''로 묶어줘야 함
per = dict({'height': 180, 'weight': 70, 'bt': 'O'})
per

{'height': 180, 'weight': 70, 'bt': 'O'}

In [122]:
zip(['height', 'weight', 'bt'], [180,70,'O'])
# (16진수) 짝을 매칭해서 합쳐줌 결과값이 저장되어 있는 메모리 상의 주소

In [129]:
a = {1:'hi'}
a
a = {'a':[1,2,3]}
b = {1:'a'}
b

{1: 'a'}

In [132]:
print(a)
print(b)
a[2] = 'b' # key:2, value:'b'
a
a['name'] = 'hgd'
a

{'a': [1, 2, 3], 2: 'b'}
{1: 'a'}

{'a': [1, 2, 3], 2: 'b', 'name': 'hgd'}

In [135]:
a['name'] = 'lss'
a
# 딕셔너리['Key'] = 'Value'
a['weight'] = 70.5
a

{'a': [1, 2, 3], 2: 'b', 'name': 'lss', 'weight': 70.5}

In [136]:
# 특정 key의 value 가져오기
# 딕셔너리[key]
a['name']

'lss'

In [139]:
# 딕셔너리 특정 key 확인

'weight' in a
'sky' in a
'sky' not in a

True

In [147]:
## 딕셔너리 key list 확인 .keys() 함수 사용
# dic_keys : type
a.keys()

## key 출력 방법

# dict_keys => list로 변경해서 참조
list(a.keys())

# for문 이용해서 key 출력
for k in a.keys():
    print(k)

a
2
name
weight

In [140]:
# 딕셔너리 길이 구하기 - key의 개수

len(a)

4

In [149]:
# 딕셔너리 value list 확인 .keys() 함수 사용

a.values()

list(a.values())

for v in a.values():
    print(v)

[1, 2, 3]
b
lss
70.5

In [150]:
# key와 value tuple형태로 동시에 출력

for i in a.items():
    print(i)

('a', [1, 2, 3])
(2, 'b')
('name', 'lss')
('weight', 70.5)

In [156]:
a['name']
a.get('name')
a['nn']
a.get('nn')
print(a.get('nn'))

None

In [157]:
a.get('nn', 'kim')
# 딕셔너리 a에 nm 키가 없다면, 'kim'을 출력하라는 의미
# 디폴트(기본값) 설정

'kim'

In [158]:
a['id'] = 'test'
a.get('id', 'guest')

'test'

In [170]:
# set : 집합
# x = {1,1,2,2,3} => x={1,2,3}
# 중복을 허용하지 않는 자료구조

s = set([1,2,3,1])
s
s2 = set('hello')
s2

# set(집합) 자료구조 특징
# 중복 허용 X, 순서가 없음 (저장순서 보장X)

# s2[1] # 1번의 값이 꼭 항상 같은 그 값이라고 보장할 수 없음
# list로 변경해서 참조 가능 (tuple도)
s = set(['k', 'i', 'm'])
slist = list(s)
slist
slist[1]

stuple = tuple(s)
stuple
stuple[1]

'm'

In [171]:
s1 = set([1,2,3,4])
s2 = set([5,6,3,4])

In [173]:
# 교집합
s1 & s2
s1.intersection(s2) #.intersection(연산하고자 하는 set name)
# 위치를 바꿔도 동일한 결과

{3, 4}

In [175]:
# 합집합
s1 | s2
s1.union(s2)

{1, 2, 3, 4, 5, 6}

In [177]:
# 차집합
s1 - s2
s1.difference(s2)

{1, 2}

In [180]:
#.add() : 데이터 추가 함수
# 요소 하나만 추가 가능 / 2개 이상 추가 안됨
# list 형식 추가 불가

s = set([1,2])
s.add(3)
s.add([4,5])

TypeError: unhashable type: 'list'

In [182]:
# .update() : 데이터 추가 함수
# 2개 이상도 한번에 추가 가능

s.update([4,5])
s

{1, 2, 3, 4, 5}

In [184]:
"""
무언가가 있으면 참,
아무것도 없으면 거짓

참 : "test", [1,2], (1,2), {1,2}, 1(0 외의 모든 수 참) 
거짓 : "", [], (1,2). {}, 0, None

explicit programming (조건문)
implicit programming

if 고양이가 나타나면 :
    브레이크를 밟는다
":" 기호 사용

if 조건 :
종속(들여쓰기 X : if문과 다른 문장으로 봄)
    종속절(들여쓰기 : if문에 종속된 문장으로 판단)
"""

[]

In [188]:
x = 10
if x == 10:
    print("10입니다")
    print("5보다 큽니다")
print("문장을 수행합니다")

# 비교할 때는 == 기호를 사용해줘야 함 =는 변수 지정

문장을 수행합니다

In [190]:
# 참 : "test", [1,2], (1,2), {1,2}, 1(0 외의 모든 수 참) 
# 거짓 : "", [], (1,2). {}, 0, None

if [1,2] :
    print('수행합니다')

if None:
    print('수행합니다')

수행합니다

In [194]:
# if문 작성 시 주의할 점

# : 기호 생략
# 들여쓰기
# 실행할 문장이 없으면 pass 입력
x = 10
if x == 10:
    pass
print('안녕')

# 종속절 들여쓰기 수준을 맞춰 줘야함 (indentationError)
x = 10
if x == 10:
    print('안녕')
    if x % 2 == 0:
        print('하세요')

안녕
안녕
하세요

In [197]:
# if 문 중첩 사용

x = 5
if x >= 3 :
    print('3 이상')
    if x<10:
        print("10 미만")
    if x<5 :
        print("5 미만")
        
print("입니다")

3 이상
10 미만
입니다

In [198]:
if []: # 거짓이므로 else 문장 수행
    print('참')
else:
    print("거짓")
    
if [1,2]: # 참이므로 if 문장 수행
    print('참')
else:
    print("거짓")
    
if None : # 거짓이므로 else 문장 수행
    print('참')
else:
    print("거짓")

거짓

In [205]:
# bool() 참거짓 판별 시 사용하는 함수

bool(0)
bool(10)
bool('python')
bool('')

False

In [207]:
a = [1,2,3]
if a : # True
    print(a.pop()) # pop() : 마지막에 저장된 요소 꺼내는 함수
    
a

3

[1, 2]

In [208]:
a = [1,2,3]
while a : # while(~동안) : a변수 값이 참인 동안에 계속 반복
    print(a.pop())

3
2
1

In [215]:
"""
문제 #1
데이터에 입력을 받아서 10보다 작으면 "10보다 작아요" 그렇지 않으면 "10보다 커요" 출력
"""

x = int(input("x를 입력해주세요 :"))
if x < 10 :
    print("10보다 작아요")
else :
    print("10보다 커요")`

x를 입력해주세요 :50
10보다 커요

In [ ]:
for i in range(1,5001):

## 연습문제

#### Q1. 

어떤 자연수 n이 있을 때, d(n)을 n의 각 자릿수 숫자들과 n 자신을 더한 숫자라고 정의하자.

예를 들어

d(91) = 9 + 1 + 91 = 101

이 때, n을 d(n)의 제네레이터(generator)라고 한다. 위의 예에서 91은 101의 제네레이터이다.

어떤 숫자들은 하나 이상의 제네레이터를 가지고 있는데, 101의 제네레이터는 91 뿐 아니라 100도 있다. 그런데 반대로, 제네레이터가 없는 숫자들도 있으며, 이런 숫자를 인도의 수학자 Kaprekar가 셀프 넘버(self-number)라 이름 붙였다. 예를 들어 1,3,5,7,9,20,31 은 셀프 넘버 들이다.

1 이상이고 5000 보다 작은 모든 셀프 넘버들의 합을 구하라.

In [75]:
plus = []
sn_sum = 0
test = []

for i in range(1,5001) :
    b = 0
    a = list(str(i))
    for j in a :
        b = b + int(j)
    plus.append(b+i)

plus1 = list(set(plus))

# for i in range(1,5001) :
#     if plus1.count(i) == 0 :
#         test.append(i)
#         sn_sum += i

for i in range(1,5001) :
    if i not in plus1:
        test.append(i)
        sn_sum += i

print(sn_sum)
print(test)

1227365
[1, 3, 5, 7, 9, 20, 31, 42, 53, 64, 75, 86, 97, 108, 110, 121, 132, 143, 154, 165, 176, 187, 198, 209, 211, 222, 233, 244, 255, 266, 277, 288, 299, 310, 312, 323, 334, 345, 356, 367, 378, 389, 400, 411, 413, 424, 435, 446, 457, 468, 479, 490, 501, 512, 514, 525, 536, 547, 558, 569, 580, 591, 602, 613, 615, 626, 637, 648, 659, 670, 681, 692, 703, 714, 716, 727, 738, 749, 760, 771, 782, 793, 804, 815, 817, 828, 839, 850, 861, 872, 883, 894, 905, 916, 918, 929, 940, 951, 962, 973, 984, 995, 1006, 1021, 1032, 1043, 1054, 1065, 1076, 1087, 1098, 1109, 1111, 1122, 1133, 1144, 1155, 1166, 1177, 1188, 1199, 1210, 1212, 1223, 1234, 1245, 1256, 1267, 1278, 1289, 1300, 1311, 1313, 1324, 1335, 1346, 1357, 1368, 1379, 1390, 1401, 1412, 1414, 1425, 1436, 1447, 1458, 1469, 1480, 1491, 1502, 1513, 1515, 1526, 1537, 1548, 1559, 1570, 1581, 1592, 1603, 1614, 1616, 1627, 1638, 1649, 1660, 1671, 1682, 1693, 1704, 1715, 1717, 1728, 1739, 1750, 1761, 1772, 1783, 1794, 1805, 1816, 1818, 1829, 1840, 1851, 1862, 1873, 1884, 1895, 1906, 1917, 1919, 1930, 1941, 1952, 1963, 1974, 1985, 1996, 2007, 2022, 2033, 2044, 2055, 2066, 2077, 2088, 2099, 2110, 2112, 2123, 2134, 2145, 2156, 2167, 2178, 2189, 2200, 2211, 2213, 2224, 2235, 2246, 2257, 2268, 2279, 2290, 2301, 2312, 2314, 2325, 2336, 2347, 2358, 2369, 2380, 2391, 2402, 2413, 2415, 2426, 2437, 2448, 2459, 2470, 2481, 2492, 2503, 2514, 2516, 2527, 2538, 2549, 2560, 2571, 2582, 2593, 2604, 2615, 2617, 2628, 2639, 2650, 2661, 2672, 2683, 2694, 2705, 2716, 2718, 2729, 2740, 2751, 2762, 2773, 2784, 2795, 2806, 2817, 2819, 2830, 2841, 2852, 2863, 2874, 2885, 2896, 2907, 2918, 2920, 2931, 2942, 2953, 2964, 2975, 2986, 2997, 3008, 3023, 3034, 3045, 3056, 3067, 3078, 3089, 3100, 3111, 3113, 3124, 3135, 3146, 3157, 3168, 3179, 3190, 3201, 3212, 3214, 3225, 3236, 3247, 3258, 3269, 3280, 3291, 3302, 3313, 3315, 3326, 3337, 3348, 3359, 3370, 3381, 3392, 3403, 3414, 3416, 3427, 3438, 3449, 3460, 3471, 3482, 3493, 3504, 3515, 3517, 3528, 3539, 3550, 3561, 3572, 3583, 3594, 3605, 3616, 3618, 3629, 3640, 3651, 3662, 3673, 3684, 3695, 3706, 3717, 3719, 3730, 3741, 3752, 3763, 3774, 3785, 3796, 3807, 3818, 3820, 3831, 3842, 3853, 3864, 3875, 3886, 3897, 3908, 3919, 3921, 3932, 3943, 3954, 3965, 3976, 3987, 3998, 4009, 4024, 4035, 4046, 4057, 4068, 4079, 4090, 4101, 4112, 4114, 4125, 4136, 4147, 4158, 4169, 4180, 4191, 4202, 4213, 4215, 4226, 4237, 4248, 4259, 4270, 4281, 4292, 4303, 4314, 4316, 4327, 4338, 4349, 4360, 4371, 4382, 4393, 4404, 4415, 4417, 4428, 4439, 4450, 4461, 4472, 4483, 4494, 4505, 4516, 4518, 4529, 4540, 4551, 4562, 4573, 4584, 4595, 4606, 4617, 4619, 4630, 4641, 4652, 4663, 4674, 4685, 4696, 4707, 4718, 4720, 4731, 4742, 4753, 4764, 4775, 4786, 4797, 4808, 4819, 4821, 4832, 4843, 4854, 4865, 4876, 4887, 4898, 4909, 4920, 4922, 4933, 4944, 4955, 4966, 4977, 4988, 4999]

In [77]:
plus_s = set()
sn_s = 0

for i in range(1,5001) :
    b = 0
    for j in str(i) :
        b += int(j)
    plus_s.add(b+i)

for i in range(1,5001) :
    if i not in plus_s:
        sn_s += i
        
print(sn_s)

1227365

In [ ]:
# 1001d + 101c + 11b + 2a
ge = set()

for i in range(1,5001) :
    if len(i) = 1 :
        ge.add(2i)
    if len(i) = 2 :
        a = list(i)
        ge.add()
    for j in len(i) :

#### Q2.

표준 입력으로 가격(정수)과 쿠폰 이름이 각 줄에 입력됩니다. Cash3000 쿠폰은 3,000원, Cash5000 쿠폰은 5,000원을 할인합니다. 쿠폰에 따라 할인된 가격을 출력하는 프로그램을 만드세요(input에서 안내 문자열은 출력하지 않아야 합니다).

입력 
27000
Cash3000

출력
24000

In [79]:
price, co = input().split()

co_n = co[4:]
result = int(price) - int(co_n)

print(result)

27000Cash5000

ValueError: not enough values to unpack (expected 2, got 1)

#### Q3.

표준 입력으로 정수가 입력됩니다. range의 시작하는 숫자는 -10, 끝나는 숫자는 10이며 입력된 정수만큼 증가하는 숫자가 들어가도록 튜플을 만들고, 해당 튜플을 출력하는 프로그램을 만드세요(input에서 안내 문자열은 출력하지 않아야 합니다).
입력
2
출력
(-10, -8, -6, -4, -2, 0, 2, 4, 6, 8)

In [217]:
n = int(input())
t = tuple(range(-10,10,n))
print(t)

2
(-10, -8, -6, -4, -2, 0, 2, 4, 6, 8)

#### Q4.

튜플 n에서 인덱스가 홀수인 요소들이 출력되게 만드세요.
n = -32, 75, 97, -10, 9, 32, 4, -15, 0, 76, 14, 2

In [4]:
n = -32, 75, 97, -10, 9, 32, 4, -15, 0, 76, 14, 2
f = len(n) + 1
print(n[1:f:2])

(75, -10, 32, -15, 76, 2)

In [6]:
for i in range(len(n)):
    if i % 2 != 0 :
        print(n[i])

75
-10
32
-15
76
2

In [7]:
num = []
for i in range(len(n)):
    if i % 2 != 0 :
        num.append(n[i])
        
print(tuple(num))

(75, -10, 32, -15, 76, 2)

#### Q5.

a 리스트에서 중복 숫자를 제거해 보자.

a = [1, 1, 1, 2, 2, 3, 3, 3, 4, 4, 5]

In [8]:
a = [1, 1, 1, 2, 2, 3, 3, 3, 4, 4, 5]
a = list(set(a))
print(a)

[1, 2, 3, 4, 5]